<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bottom Navigation Bar</title>
    <link rel="stylesheet" href="test.css">
</head>
<body>
    <div class="bottom-nav">
        <a href="/category" class="nav-item">
            <img class="Category" alt="Category" src="/static/img/puzzle.png" />
            <span>카테고리</span>
        </a>
        <a href="/post" class="nav-item">
            <img class="Post" alt="Post" src="/static/img/message.png" />
            <span>게시글작성</span>
        </a>
        <a href="/home" class="nav-item">
            <img class="Home" alt="Home" src="/static/img/home.png" />
            <span>홈</span>
        </a>
        <a href="/like" class="nav-item">
            <img class="Like" alt="Like" src="/static/img/heart.png" />
            <span>좋아요</span>
        </a>
        <a href="/mypage" class="nav-item">
            <img class="MyPage" alt="MyPage" src="/static/img/users.png" />
            <span>내 정보</span>
        </a>
    </div>
</body>
</html>
